.homeHeader {
  background-color: #fff;
  /* position: fixed; */
  display: flex;
  flex-direction: row;
  height: 6vh;
  width: 100%;
  padding: 5px;
  margin: 0;
  align-items: center;
  justify-content: space-between;
}

.header_center {
  font-size: medium;
  font-weight: bold;
}

/* .header_left {
  width: 10vw;
  margin-left: 10px;
}

.header_right {
  margin-right: 10px;
} */
